.ch-background-color {
    background-color: #1E293B;
}

.ch-primary-btn {
    background-color: #2563EB !important;
}
.ch-primary-btn:hover {
    background-color: #10B981 !important;
}

.ch-jumbo {
    background-color: #374151;
    padding: 4rem 2rem;
    color: #F8FAFC;
}

.ch-container {
  display: flex;
  padding-bottom:15px;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container spans the full height of the viewport */
}



.ch-footer {
    background-color: #1E293B;
    color: #F9FAFB;
    padding: "1rem 0";
    flex-shrink: 0; /* Footer stays at the bottom */
    position:absolute;
    left:0;
    bottom:0;
    right:0;
}

.custom-muted-link {
color: rgba(255, 255, 255, 0.55);
text-decoration: none;
}

.custom-muted-link:hover,
.custom-muted-link:focus {
color: rgba(255, 255, 255, 0.75);
}